



<table class = "table table-striped">
    <thead>
        <tr>
            <th>userId</th>
            <th>userUserName</th>
            <th>userContact</th>
            <th>userGender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let data of UserDetailsList">
            <td>{{data.userId}}</td>
            <td>{{data.userUserName}}</td>
            <td>{{data.userContact}}</td>
            <td>{{data.userGender}}</td>
            <td>
                <button type = "button" class = "btn btn-light mr-1" >
                    Edit
                </button>
                <button type = "button" class = "btn btn-light mr-1" >
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
