<div class=" container">


 

  

  <nav class="navbar bg-warning">
    <ul class="container-fluid justify-content-start">
      <div class = "nav-item">
      <button  routerLink = "user-details" class="btn btn-outline-primary me-2" type="button">User Details</button>
      <button  routerLink = "event-details" class ="btn btn-outline-danger me-2" type="button">Event Details</button>
      <button  routerLink = "booking-details" class ="btn btn-outline-secondary me-2" type="button">Booking Details</button>

     
      
      </div>
    </ul>
  </nav>

 
<router-outlet></router-outlet>